/* @import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap"); */

@font-face {
  font-family: Prompt;
  src: url("../fonts/Prompt.ttf");
}

.feedbackPage.feedback_header {
  font-family: Prompt, cursive;
}

.en_font {
  font-size: 0.5rem;
}
